label {
  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 75px;
  text-align: center;
  font-family: attatello, fantasy;
  font-weight: bolder;
  text-decoration: underline;
}
.hidden {
  display: none;
}
.pizza {
  height: 450px;
  width: 600px;
}
body {
  background-color: rgb(200, 130, 64);
}
/* .row {
  justify-content: center;
} */
.chef {
  height: 400px;
  width: 900;
}
#output {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 75px;
  text-align: center;
  color: rgb(254, 254, 254);
  border: 5px solid rgb(235, 229, 229);
}
